<ion-view view-title="Geo Point Record">
    
          <ion-content>      
            
            <form name="form" ng-submit="entrar(colaborador)">
             
            <div class="list">
                
              <div class="list list-inset">
                
                <label class="item item-input">
                  <input type="text" placeholder="E-mail" ng-model="colaborador.email">
                </label>
                <label class="item item-input">
                  <input type="password" placeholder="Senha" ng-model="colaborador.password">
                </label>
    
                <button class = "button button-block button-positive">Acessar</button>
                <!-- <a class = "button button-block button-positive" ui-sref="registroUsuarios">registros</a>    -->
              </div>              
                                
            </div>
            
          </form>
            
            
    
          </ion-content>
    
        </ion-view>
    


        